{% extends "base.html" %}

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="index.html">Vecifarma</a>
            <div class="d-flex justify-content-between w-100">
                <a href="formulario-cv.html" class="btn btn-outline-light btn-sm">Cargar CV</a>
                <a href="index.html" class="btn btn-outline-light btn-sm">Inicio</a>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->


    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>Contacto: info@vecifarma.com | Tel: 123-456-7890</p>
        <p>&copy; 2024 Vecifarma - Todos los derechos reservados.</p>
    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
