{% extends "base.html" %}

{% block title %}
Descargar - VeciFarma
{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="text-success">Obtén la App de Vecifarma</h2>
    <p>Descarga la app de Vecifarma y comienza a disfrutar de los beneficios de la entrega de medicamentos a domicilio y las oportunidades laborales en tu comunidad.</p>

    <div class="mt-4">
        <a href="#" class="btn btn-success btn-lg mr-2">Descargar para Android</a>
        <a href="#" class="btn btn-success btn-lg">Descargar para iOS</a>
    </div>
</div>

{% endblock %}